<body style="background-color:#a2a7ad;">

<h2>Welcome To About Us </h2>

<p>We here to incredibly change your creative thought with your art work </p>
<p1 align= 'center'>After going to the Regional Art Center I came to the art opening here in the art building. ... I'm not sure what I was drinking because it tasted like wine but it had a sweat taste to it which was better than the wine I had before.</p1>

</body>


