
	
<body style="background-color:#34495e;">
<div class="jumbotron center">

<h2 align= "center">Welcome To SketchCentre</h2>
<h4 align="center">Technology Start Here</h4>


<p1>
    <%=link_to"Log in","#", class: "btn btn-danger"%> 

    <%=link_to"Sign Up","#",class: "btn btn-primary"%>
</p1>


</div>

</body>


