
	
<body style="background-color:#34495e;">
<div class="jumbotron">

<h2>Welcome To Sketch Centre</h2>

<p1>Click here to  <%=link_to"Sign Up","#", class: "btn btn-primary " %></p1>

</div>

</body>


